* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #788088;
  font-family: Montserrat, sans-serif;
  padding: 20px;
}

header {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr
}

#search {
  border-style: solid;
  border-width: 10px;
  border-color: black
}

.parking-lot {
  background-color: #806868;

}

.slots-container {
  background-color: #010101;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-rows: 100px;
  margin-top: 15px;
  /* row-gap:40px; */

}


.slot {
  background-color: white;
  border-style: solid;
  border-width: 8px;
  border-color: #FED018;
  /* border: 10px solid yellow; */
}


.slot:nth-child(odd) {
  grid-column: 1;
}

.slot:nth-child(even) {
  grid-column: 3;
}

#modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none;
  background: white;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  flex-direction: column;
  gap: 16px;


}

.modal input {
  padding: 10px;
  font-size: 14px;
}

.modal button {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}