* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Montserrat, sans-serif;
  padding: 20px;
}

header {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr
}

#search {
  border: 10px solid black;
  padding: 20px;
}

#add {
  padding: auto;
  margin: 10px;
}

#color-Filter {}

.parking-lot {
  background-color: #010101;
  color: white;

}

.slots-container {
  background-color: #010101;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-rows: 100px;
  margin-top: 15px;
  /* row-gap:40px; */

}


.slot {
  background-color: white;
  border: 8px solid #FED018;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  /* border: 10px solid yellow; */
}

.slot.occupied {
  background-color: #fff;
}

.slot-registration {
  font-size: 20px;
}

.slot-color {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #000;
}


.slot:nth-child(odd) {
  grid-column: 1;
}

.slot:nth-child(even) {
  grid-column: 3;
}


dialog {
  border: none;
  border-radius: 12px;
  padding: 24px;
  width: 320px;
  margin: auto;

}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog h3 {
  margin-bottom: 12px;
}

dialog input {
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

dialog button {

  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}