@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #010101;
  --ascent-color: #FED018;
  --occupied-color: #896a1dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Lato, sans-serif;
  padding: 1.5rem;
  background-color: var(--primary-color);
  height: 100%;
}

header {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  /* justify-content: space-between; */

}

header h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: auto;
  /* pushes rest to the right */
}

header select,
header input,
header button {
  height: 2.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

#search {
  border: 0.625rem solid black;
  padding: 1.25rem;
}

#add {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.625rem;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: var(--ascent-color);
  color: black;
}

#colorFilter {
  padding: 0.31rem;
}

#search {
  width: 17.5rem;
  padding: 0 0.75rem;
  border: none;
}

#SearchBtn {
  padding: 0 1rem;
  font-weight: 600;
  cursor: pointer;
  background: white;
}

.parking-lot {
  background-color: #010101;
  color: white;
  min-height: calc(100vh - 100px);/
}

.slots-container {
  display: grid;
  gap: 1rem;
  padding: 1.25rem;
  margin-top: 1rem;
}

.slot {
  height: 5rem;
  border: 0.25rem solid var(--ascent-color);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 1rem;
  background: var(--primary-color);
}

.slot.free {
  background: white;
  color: #000;
}

.slot.occupied {
  background: #8a6b1f;
  color: white;
}

.slot.highlighted {
  outline: 4px solid red;
}

#exit-button {
  background-color: red;
  width: 3rem;
  border-radius: 20px;
  padding: 5px auto;
  cursor: pointer;


}

.slot.elevator {
  background: #ddd;
  color: #000;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 1px;
}

.slot.gap {
  visibility: hidden;
}

.slot-registration {
  font-size: 1.2rem;
}

.slot-color,
.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000;
}



dialog {
  border: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  width: 20rem;
  margin: auto;

}

dialog input,
dialog select,
dialog button {
  display: block;
  width: 100%;
  margin-top: 0.75rem;
  padding: 1.25rem;
  border-radius: 20px;
}

dialog button {
  background-color: var(--ascent-color);
}


dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog h3 {
  margin-bottom: 0.75rem;
}

dialog input {
  padding: 0.625rem;
  font-size: 1rem;
  width: 100%;
}

dialog button {
  padding: 0.625rem;
  font-size: 1rem;
  cursor: pointer;
}


/* .slots-container {
  background-color: #010101;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-rows: 100px;
  margin-top: 15px;
  /* row-gap:40px; */

/* } */

/*
.slot {
  background-color: white;
  border: 8px solid #FED018;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  /* border: 10px solid yellow; */
/* } */

/* .slot.occupied { */
/* background-color: #fff; */
/* } */

/* .slot-registration { */
/* font-size: 20px; */
/* } */

/* .slot-color { */
/* width: 40px; */
/* height: 40px; */
/* border-radius: 8px; */
/* border: 2px solid #000; */
/* } */


/* .slot:nth-child(odd) { */
/* grid-column: 1; */
/* } */

/* .slot:nth-child(even) { */
/* grid-column: 3; */
/* } */